# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

ficmap
*.sqlite
*.sqlite.*
*.db

# Dependency directories (remove the comment below to include it)
# vendor/

static/icon/icons-png
static/icon/icons-react
static/icon/iconfont
static/icon/.github
static/icon/src
